body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


@keyframes blink {
    0% { color: red; }
    33% { color: yellow; }
    66% { color: rgb(69, 5, 189); }
    100% { color: rgb(20, 88, 3); }
}


#numeroActual.blink {
    animation: blink 1s steps(5, start) infinite;
}


@keyframes backgroundAnimation {
    0% {
        opacity: 0;
        background: url('bingo-1.jpg') no-repeat center center;
        background-size: cover;
    }
    25% {
        opacity: 1;
        background: url('bingo-2.jpg') no-repeat center center;
        background-size: cover;
    }
    50% {
        opacity: 0;
        background: url('bingo-3.jpg') no-repeat center center;
        background-size: cover;
    }
    75% {
        opacity: 1;
        background: url('bingo.jpg') no-repeat center center;
        background-size: cover;
    }
    100% {
        opacity: 0;
        background: url('bingo-4.jpg') no-repeat center center;
        background-size: cover;
    }
}


#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    filter: blur(10px);
    animation: backgroundAnimation 15s infinite;
}


#content {
    position: relative;
    z-index: 1;
    background-color: rgba(185, 204, 12, 0.8); /* Fondo traslúcido */
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade una sombra para mayor contraste */
    animation: background-fade 10s infinite alternate; /* Alterna entre los colores cada 10 segundos */
}


@keyframes background-fade {
    0% {
        background-color: rgba(185, 204, 12, 0.8); /* Color inicial */
    }
   
    100% {
        background-color: #e01608; /* Color alternativo (puedes cambiarlo) */
    }
}


#logoBingo {
    width: 300px;
    margin-bottom: 60px;
}


h1 {
    color: #2c3e50;
    font-size: 36px;
    margin-bottom: 20px;
}


button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #0d0d0e;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}


button:hover {
    background-color: #2980b9;
}


#numeroActual {
    font-size: 24px;
    margin-top: 20px;
    color: #2c3e50;
    transition: color 0.5s ease-in-out, transform 0.5s ease-in-out;
}

#numeroActual.blink {
    transform: scale(1.2); /* Añade una leve animación de escala */
}


#listaNumeros {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px;
    margin: 20px auto;
}


#listaNumeros li {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 5px;
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
    border-radius: 50%;
    font-size: 18px;
    color: #34495e;
    transition: background-color 0.3s ease, color 0.3s ease;
}


#mensajeFinal {
    font-size: 20px;
    color: #e74c3c;
    margin-top: 20px;
}


#confirmacion {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 2px solid #2c3e50;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 2;
}


#confirmacionTexto {
    font-size: 18px;
    margin-bottom: 10px;
}


#confirmacionBtn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


#confirmacionBtn:hover {
    background-color: #2980b9;
}
